<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>VELORA JEWEL</title>
    <link rel="stylesheet" href="/css/HeadFoot.css" />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar">
      <div class="navigation">
        <div class="dropdown">
          <a href="#">Shop</a>
          <div class="dropdown-content mega-menu">
            <div class="mega-menu-column">
              <h3>Categories</h3>
              <a href="#">Rings</a>
              <a href="#">Earrings</a>
              <a href="#">Necklaces</a>
              <a href="#">Bangles and Bracelets</a>
            </div>
            <div class="mega-menu-column1">
              <img src="/images/nav1.png" alt="Jewelry 1" class="menu-image" />
              <img src="/images/nav2.png" class="menu-image" />
            </div>
          </div>
        </div>
        <div class="dropdown">
          <a href="#">Collections</a>
          <div class="dropdown-content mega-menu">
            <div class="mega-menu-column">
              <h3>Collection</h3>
              <a href="#">Motif</a>
              <a href="#">Minimal</a>
              <a href="#">Brocade</a>
              <a href="#">Ashville</a>
            </div>
            <div class="mega-menu-column1">
              <img src="/images/nav1.png" alt="Jewelry 1" class="menu-image" />
              <img src="/images/nav2.png" class="menu-image" />
            </div>
          </div>
        </div>
        <a href="/about">About Us</a>
      </div>
      <a href="/" class="logo">
        <h1>VELORA JEWEL</h1>
        <h2>Paris</h2>
      </a>
      <div class="icons">
        <a href="/login"><i class="fa-solid fa-user"></i></a>
        <a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a>
      </div>
    </nav>
  </body>
</html>
